* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.step-wrapper {
  background-color: #ffe400;
  padding-bottom: 5px;
}

.steps-title {
  font-family: 'Muli', sans-serif;
  font-weight: 100;
  padding-top: 35px;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.steps-subtitle {
  font-family: 'Muli', sans-serif;
  font-weight: 100;
  padding-bottom: 32px;
  font-size: 18px;
}

.steps-item {
  margin-bottom: 30px;
  list-style-type: none;
  width: 200px;
}

.step-number {
  font-family: 'Muli', sans-serif;
  position: relative;
  margin-bottom: 36px;
  font-size: 40px;
  font-weight: 900;
  position: relative;
}

.step-number::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url(./images/Rectangle\ 13.svg);
  width: 6px;
  height: 9px;
  left: 196px;
  bottom: -4px;
}

.step-number::after {
  content: "";
  display: block;
  width: 200px;
  height: 8px;
  background-image: -moz-linear-gradient( 0deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
  background-image: -ms-linear-gradient( 0deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
  width: 200px;
  height: 1px;
}

.step-сounter {
  font-family: 'Muli', sans-serif;
    font-size: 22px;
  font-weight: 900;
}

.steps-discription {
  font-family: 'Muli', sans-serif;
  margin-top: 12px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
}

.steps-discription:last-child {
  margin-bottom: 0;
}

.input-wrapper {
    margin-top: 15px;
  }

  .inpur-wrapper-text {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
  }

.input-item:nth-of-type(-n+8) {
    margin-bottom: 10px;
}

.input-list-item {
  text-align: center;
}

.input-list {
  width: 250px; 
  margin: 0 auto;
  margin-top: 10px;
}

.input-list__left-side {
  width: 250px;
}

.telefon {
  display: flex;
  width: 250px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-item {
    width: 250px;
    height: 35px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    background-color:#f9f9f9;
    padding-left: 15px;
    margin-bottom: 10px;
    
}

.telefon-input {
width: 210px;
}


.input-item::placeholder {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color:#979797;
  }

  .telefon-item {
    background-image: url(./images/strel2.svg);
    background-repeat: no-repeat;
    background-position: 20px 14px;
    width: 35px;
    height: 35px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    background-color:#f9f9f9;
    font-size: 11px;
  }
  


  .input-textarea {
    text-align: center;
  }

.textarea {
    width: 250px;
    height: 166px;
    padding-top: 20px;
    resize: none;
}

/* .input-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
} */

.form-button {
  display: block;
  width: 250px;
  height: 35px;
  border-radius: 3px;
  background-color: #ffd200;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Muli', sans-serif;
  color: #000;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.country {
  width: 250px;
  height: 35px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  background-color: #f9f9f9;
  padding-left: 12px;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color:#979797;
  background-image: url(./images/strel2.svg);
  background-position: 224px 14px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.start {
  position: relative;
}

.calendar::before {
  content: "Expire date";
  display: flex;
  align-items: center;
  width: 222px;
  height: 35px;
  background-color: #f9f9f9;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  color:#979797;
  border: 1px solid rgb(204, 204, 204);
  border-right: none;
  border-radius: 2px;
  position: absolute;
  left: 0;
  padding-left: 16px;
}

.calendar::after {
  position: absolute;
  content: "";
  display: block;
  background-image: url(./images/calendar.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  right: 11px;
  z-index: 34;
}



input[type="file"] {
  display: none;
}

.input-file-upload {
  display: block;
  width: 250px;
  height: 35px;
  border: 1px dashed rgb(204, 204, 204);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 7px;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  color: #888;
  font-weight: 400;
  line-height: 1.2;
}

/* .input-file {
  width: 250px;
  height: 35px;
  border: 1px dashed rgb(204, 204, 204);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  margin-top: 7px;
  text-align: center;
} */

.buttons {
  text-align: center;
}

footer {
  background-color: #000;
} 

.footer-logo-img {
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}

.footer-social {
  margin: 0 auto;
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.footer-social-item-link svg  {
  display: block;
  width: 20px;
  height: 20px;
  fill: #888;
}

/* .facebooc::before {
  content: "";
  display: block;
  background-image: url(./images/F.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 20px;
}

.instagram::before {
  content: "";
  display: block;
  background-image: url(./images/inst.svg);
  fill: #888;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.telegram::before {
  content: "";
  display: block;
  background-image: url(./images/Shape\ 698.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.link::before {
  content: "";
  display: block;
  background-image: url(./images/in.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.twitter::before {
  content: "";
  display: block;
  background-image: url(./images/tw.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
} */



.footer-menu-list {
  color: #fff;
  text-align: center;
  font-family: 'Muli', sans-serif;
    font-size: 14px;
    color: rgb(152, 152, 157);
    line-height: 1.2;
}

.footer-menu-item {
  margin-bottom: 10px;
}

.footer-menu-item:last-child {
  margin-bottom: 0;
}

.footer-menu-item:first-child {
  margin-top: 15px;
}

.footer-about {
  font-family: 'Muli', sans-serif;
  font-size: 10px;
  color: #fff;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 15px;
}

.footer-text {
  visibility: hidden;
}


 @media (min-width: 768px) {
  .container {
    max-width: 680px;
  }

  .steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .steps-item {
    margin-right: 30px;
  }
}


@media (min-width: 980px) {
  .container {
    max-width: 980px;
    padding-left: 0;
  }
  .step-number::after {
    width: 300px;
  }

  .step-number::before {
    left: 296px;
  }

  .inpur-wrapper-text {
    font-family: 'Muli', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    text-align: left;
    font-weight: 200;
    margin-top: 42px;
    margin-bottom: 38px;
    }

    .input-list-name {
      width: 960px;
      display: flex;
      justify-content: space-between;
        }
    .input-item {
      width: 300px;
      height: 50px;
      /* border: none; */
    }

    .input-list {
      width: 960px;
    }

    .telefon {
      width: 960px;
      display: flex;
      justify-content: space-between;
    }

    .telefon-item {
      width: 80px;
      height: 50px;
      background-position: 55px 20px;
    }

    .calendar {
    height: 50px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    background-color:#f9f9f9;
    padding-left: 15px;
    margin-bottom: 10px;
    width: 450px;
    }

    .calendar::before {
      height: 50px;
    }

    .calendar::after {
      right: 20px;
    }

    .zip {
      width: 385px;
    }

    .national {
      width: 385px;
    }

    .country {
      width: 385px;
      height: 50px;
      background-position: 354px 20px;
    }

    .input-list__right-side {
      display: flex;
      justify-content: flex-end;
    }

    .textarea {
      width: 450px;
      height: 111px;
      margin-top: -122px;
    }

    .buttons {
      width: 960px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
    }

    .input-file-upload {
      width: 385px;
      height: 50px;
      border: 2px dashed rgb(204, 204, 204); 
      text-align: center;
      padding-top: 13px;
    }

       .form-button {
         margin-bottom: 5px;
         width: 450px;
         height: 50px;
       }

       .footer-text {
         padding-top: 52px;
       }

       .footer-text p {
          font-family: 'Muli', sans-serif;
          font-size: 12px;
          font-family: "Myriad Pro";
          color: rgb(95, 95, 93);
          line-height: 1.2;
          text-align: left;
          margin-bottom: 10px;
          visibility: visible;
       }

       .footer-text p:last-child {
         margin-bottom: 0;
       }

       .footer-logo {
         width: 960px;
         display: flex;
         justify-content: space-between;
         margin-top: 30px;
       }

       .footer-logo-img{
         margin:0;
       }

       .footer-social {
         margin: 0;
         padding-top: 16px;
       }

       .footer-social-item {
         position: relative;
         cursor: pointer;
        transition: all 0.2s linear;
       }

       

       .footer-social-item::after {
         content: "";
         display: block;
         width: 40px;
         height: 1px;
         background-color: #ffd200;
         position: absolute;
         left: -10px;
         bottom: 0;
         opacity: 0;
         visibility: hidden;
         transition: all 0.2s linear;
       }

       .footer-social-item:hover::after  {
        opacity: 1;
        visibility: visible;
       }
       .footer-social-item-link svg:hover {
        fill: #ffd200;
     }

       .footer-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        padding-bottom: 50px;
        margin-top: 34px;
       }

       .footer-menu p {
         order: -1;
        }

        .footer-menu-list {
          width: 394px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .footer-menu-item {
          margin: 0;
        }

        .footer-menu-item:first-child {
          margin: 0;
        }

        .footer-about {
          display: block;
          margin: 0;
          padding: 0;
        }
  }